doctype html
html
  head
    title="Welcome to Projektor!"
    link(rel="stylesheet" href="/confirmation.css")
  body
    img(src=`${domain}/logo.svg`, alt="Projector logo" class='logo')
    h1(class='title') Welcome to Projektor!
    p Hi, #{user}! Your account has now been verified
    a(href=`${link}`) <- back to  projector
