html
  head
    title="Welcome to Projektor!"
    //- style.
    //-   p {

    //-   }
  body
    h1 Welcome to Projektor!
    p Hi, #{user}! Your account has now been verified
    a(href="https://www.projektorapp.com/projects") "back to  projector ->"
